:root {
  --gamism_slide_duration: 2000ms;
  --gamism_slide_timing: ease-out;
  --gamism_slide_distance: 200%;
  --gamism_flip_duration: 2000ms;
  --gamism_flip_timing: ease-out;
}

.temp_box {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  position: relative;
  margin: 20px;
}

.gamism_slideInDown_2000ms, .gamism_slideInDown_1000ms, .gamism_slideInDown_500ms, .gamism_slideInDown_100ms, .gamism_slideInDown, .gamism_slideInUp_2000ms, .gamism_slideInUp_1000ms, .gamism_slideInUp_500ms, .gamism_slideInUp_100ms, .gamism_slideInUp, .gamism_slideInLeft_2000ms, .gamism_slideInLeft_1000ms, .gamism_slideInLeft_500ms, .gamism_slideInLeft_100ms, .gamism_slideInLeft, .gamism_slideInRight_2000ms, .gamism_slideInRight_1000ms, .gamism_slideInRight_500ms, .gamism_slideInRight_100ms, .gamism_slideInRight {
  animation: var(--gamism_slide_timing) forwards;
}

.gamism_flipDown_2000ms, .gamism_flipDown_1000ms, .gamism_flipDown_500ms, .gamism_flipDown_100ms, .gamism_flipDown, .gamism_flipUp_2000ms, .gamism_flipUp_1000ms, .gamism_flipUp_500ms, .gamism_flipUp_100ms, .gamism_flipUp, .gamism_flipLeft_2000ms, .gamism_flipLeft_1000ms, .gamism_flipLeft_500ms, .gamism_flipLeft_100ms, .gamism_flipLeft, .gamism_flipRight_2000ms, .gamism_flipRight_1000ms, .gamism_flipRight_500ms, .gamism_flipRight_100ms, .gamism_flipRight {
  animation: var(--gamism_flip_timing) forwards;
}

@keyframes gamism_slideInRight {
  from {
    transform: translateX(var(--gamism_slide_distance));
  }
  to {
    transform: translateX(0);
  }
}
.gamism_slideInRight {
  transform: translateX(var(--gamism_slide_distance));
}

.gamism_slideInRight {
  animation: gamism_slideInRight 2000ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInRight_100ms {
  animation: gamism_slideInRight 100ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInRight_500ms {
  animation: gamism_slideInRight 500ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInRight_1000ms {
  animation: gamism_slideInRight 1000ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInRight_2000ms {
  animation: gamism_slideInRight 2000ms var(--gamism_slide_timing) forwards;
}

@keyframes gamism_slideInLeft {
  from {
    transform: translateX(calc(-1 * var(--gamism_slide_distance)));
  }
  to {
    transform: translateX(0);
  }
}
.gamism_slideInLeft {
  transform: translateX(calc(-1 * var(--gamism_slide_distance)));
}

.gamism_slideInLeft {
  animation: gamism_slideInLeft 2000ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInLeft_100ms {
  animation: gamism_slideInLeft 100ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInLeft_500ms {
  animation: gamism_slideInLeft 500ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInLeft_1000ms {
  animation: gamism_slideInLeft 1000ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInLeft_2000ms {
  animation: gamism_slideInLeft 2000ms var(--gamism_slide_timing) forwards;
}

@keyframes gamism_slideInUp {
  from {
    transform: translateY(var(--gamism_slide_distance));
  }
  to {
    transform: translateX(0);
  }
}
.gamism_slideInUp {
  transform: translateY(var(--gamism_slide_distance));
}

.gamism_slideInUp {
  animation: gamism_slideInUp 2000ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInUp_100ms {
  animation: gamism_slideInUp 100ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInUp_500ms {
  animation: gamism_slideInUp 500ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInUp_1000ms {
  animation: gamism_slideInUp 1000ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInUp_2000ms {
  animation: gamism_slideInUp 2000ms var(--gamism_slide_timing) forwards;
}

@keyframes gamism_slideInDown {
  from {
    transform: translateY(calc(-1 * var(--gamism_slide_distance)));
  }
  to {
    transform: translateX(0);
  }
}
.gamism_slideInDown {
  transform: translateY(calc(-1 * var(--gamism_slide_distance)));
}

.gamism_slideInDown {
  animation: gamism_slideInDown 2000ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInDown_100ms {
  animation: gamism_slideInDown 100ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInDown_500ms {
  animation: gamism_slideInDown 500ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInDown_1000ms {
  animation: gamism_slideInDown 1000ms var(--gamism_slide_timing) forwards;
}

.gamism_slideInDown_2000ms {
  animation: gamism_slideInDown 2000ms var(--gamism_slide_timing) forwards;
}

@keyframes gamism_flipRight {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.gamism_flipRight {
  transform: rotateY(0deg);
}

.gamism_flipRight {
  animation: gamism_flipRight 2000ms var(--gamism_flip_timing) forwards;
}

.gamism_flipRight_100ms {
  animation: gamism_flipRight 100ms var(--gamism_flip_timing) forwards;
}

.gamism_flipRight_500ms {
  animation: gamism_flipRight 500ms var(--gamism_flip_timing) forwards;
}

.gamism_flipRight_1000ms {
  animation: gamism_flipRight 1000ms var(--gamism_flip_timing) forwards;
}

.gamism_flipRight_2000ms {
  animation: gamism_flipRight 2000ms var(--gamism_flip_timing) forwards;
}

@keyframes gamism_flipLeft {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.gamism_flipLeft {
  transform: rotateY(360deg);
}

.gamism_flipLeft {
  animation: gamism_flipLeft 2000ms var(--gamism_flip_timing) forwards;
}

.gamism_flipLeft_100ms {
  animation: gamism_flipLeft 100ms var(--gamism_flip_timing) forwards;
}

.gamism_flipLeft_500ms {
  animation: gamism_flipLeft 500ms var(--gamism_flip_timing) forwards;
}

.gamism_flipLeft_1000ms {
  animation: gamism_flipLeft 1000ms var(--gamism_flip_timing) forwards;
}

.gamism_flipLeft_2000ms {
  animation: gamism_flipLeft 2000ms var(--gamism_flip_timing) forwards;
}

@keyframes gamism_flipUp {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
.gamism_flipUp {
  transform: rotateX(0deg);
}

.gamism_flipUp {
  animation: gamism_flipUp 2000ms var(--gamism_flip_timing) forwards;
}

.gamism_flipUp_100ms {
  animation: gamism_flipUp 100ms var(--gamism_flip_timing) forwards;
}

.gamism_flipUp_500ms {
  animation: gamism_flipUp 500ms var(--gamism_flip_timing) forwards;
}

.gamism_flipUp_1000ms {
  animation: gamism_flipUp 1000ms var(--gamism_flip_timing) forwards;
}

.gamism_flipUp_2000ms {
  animation: gamism_flipUp 2000ms var(--gamism_flip_timing) forwards;
}

@keyframes gamism_flipDown {
  from {
    transform: rotateX(360deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
.gamism_flipDown {
  transform: rotateX(360deg);
}

.gamism_flipDown {
  animation: gamism_flipDown 2000ms var(--gamism_flip_timing) forwards;
}

.gamism_flipDown_100ms {
  animation: gamism_flipDown 100ms var(--gamism_flip_timing) forwards;
}

.gamism_flipDown_500ms {
  animation: gamism_flipDown 500ms var(--gamism_flip_timing) forwards;
}

.gamism_flipDown_1000ms {
  animation: gamism_flipDown 1000ms var(--gamism_flip_timing) forwards;
}

.gamism_flipDown_2000ms {
  animation: gamism_flipDown 2000ms var(--gamism_flip_timing) forwards;
}

/*# sourceMappingURL=gamism.css.map */
